{% load static %}

<header>
    <div class="navbar">
        <!-- Logo -->
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">

        <!-- Navigation Links -->
        <nav>
            <a href="{% url 'landing' %}">HOME</a>
            <a href="{% url 'daftar_program' %}">PROGRAM</a>
            <a href="{% url 'program_saya' %}">PROGRAM SAYA</a>
            <a href="#">KEGIATAN LAIN</a>
            <a href="#">SYARAT</a>
        </nav>

        <!-- User Login/Profile Section -->
        <div class="user-section">
            {% if user.is_authenticated %}
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
                {% endif %}
                <span class="username">{{ ser.username }}</span>
            {% else %}
                <!-- Show Login Button if User is Not Logged In -->
                <a href="{% url 'login' %}" class="login-button">Login</a>
            {% endif %}
        </div>
    </div>
</header>
